page-contato {

    ion-content .profile{
        background-color: gray;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
    }

    .profile .imgProfile{
        width: 40%;
    }

    .profile .imgProfile img{
        vertical-align: middle;
    }

    .profile .nomeProfile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
    }

    .nomeProfile h3{
        color: #fff;
        font-weight: normal;
        font-size: 1.6rem;
    }

    .nomeProfile button{
        background-color: #fff;
        color: grey;
        padding: 0.5rem 1rem;
    }

    ion-content .profileInfos{
        width: 100%;
        padding: 3rem;
        position: relative;
    }

    .profileInfos p{
        margin: 0;
        margin-bottom: 0.25rem;
        color: black;
    }

    .profileInfos .editar{
        position: absolute;
        margin: 0;
        padding: 0;
        width: 4rem;
        top: 2rem;
        right: 2rem;
    }
    ion-footer{
        background-color: black;
    }
}
